* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 24px;
  color: black;
  width: 250px;
  height: 80px;
  position: absolute;
  top: 45%;
  left: 41.5%;
  border-radius: 25px;
  border-color: 2px silver;
  cursor: pointer;
  transition-duration: 0.4s;
}
button:hover {
  background: brown;
  color: white;
  box-shadow: 2px 5px 7px 2px#888888;
}
button a {
  text-decoration: none;
}

@media (min-width: 0px) and (max-width: 414px) {
  button {
    top: 45%;
    left: 21%;
  }
}

@media (min-width: 0px) and (max-width: 395px) {
  button {
    left: 19.2%;
    width: 220px;
    height: 65px;
  }
}
